<div class="row">
    <h1 class="fw-bold d-flex justify-content-center"> 
        {{titulo}}
    </h1>
    <p class="d-flex justify-content-center descripcion">
        {{msgI}}
    </p>   
    <p class="d-flex justify-content-center descripcion">
        {{msgF}}
    </p>
    
    <div class="row">
        <div  *ngFor="let pregunta of preg; index as i">
            <div class="d-flex justify-content-start font">
                <label id="preguntas[i].id">Pregunta {{i+1}}) {{pregunta.preguntaText}}</label>
            </div>
            <div class="d-flex justify-content-center" *ngIf = "verf[i] == 'La respuesta marcada es correcta'">
                <p class="msgFinal text-success">
                    {{verf[i]}}
                </p>
            </div>
            <div class="d-flex justify-content-center" *ngIf = "verf[i] == 'La respuesta marcada es incorrecta'">
                <p class="msgFinal text-danger">
                    {{verf[i]}}
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <p>
                    Respuesta Correcta: {{resp[i].respuestaText}}
                </p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center" 
        *ngIf = "data.msg_final == 'APROBASTE'">
        <p class="msgFinal text-success">
            {{msg_final}}:+ 20 COINS
        </p>
    </div>
    <div class="d-flex justify-content-center" 
        *ngIf = "data.msg_final == 'DESAPROBASTE'">
        <p class="msgFinal text-danger">
            {{msg_final}}: + 0 COINS
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="accent" (click)="onNoClick()" routerLink = "/admin/actividades">Finalizar</button>
    </div>
</div>
