<div class="row">
    <h1 class="fw-bold d-flex justify-content-center"> 
        {{data.titulo}}
    </h1>
    <p class="d-flex justify-content-center descripcion">
        {{data.msgI}}
    </p>   
    <p class="d-flex justify-content-center descripcion">
        {{data.msgF}}
    </p>  
    <div class="d-flex justify-content-center" 
        *ngIf = "data.msg_final == 'APROBASTE'">
        <p class="msgFinal text-success">
            {{data.msg_final}}:+ 20 COINS
        </p>
    </div>
    <div class="d-flex justify-content-center" 
        *ngIf = "data.msg_final == 'DESAPROBASTE'">
        <p class="msgFinal text-danger">
            {{data.msg_final}}: + 0 COINS
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="accent" (click)="onNoClick()" routerLink = "/admin/actividades">Finalizar</button>
    </div>
</div>
