<mat-toolbar class="bg-primary text-light">
    <span>Unitable</span>
    <button mat-button routerLink="/admin/actividades" class="ms-3">Actividades</button>
    <button mat-button routerLink="/admin/grupos" class="ms-3">Grupos</button>
    <button mat-button routerLink="/admin/usuarios" class="ms-3">Usuarios</button>

    <span class="spacer"></span>

    <mat-icon>wb_sunny</mat-icon>
    <mat-slide-toggle class="align-middle mx-3" color="primary"></mat-slide-toggle>
    <mat-icon class="me-4">brightness_2</mat-icon>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon> Usuario
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="verPerfil()">
            <mat-icon>account_circle</mat-icon> Ver perfil
        </button>
        <button mat-menu-item (click)="signout()">
            <mat-icon>logout</mat-icon> Cerrar sesión
        </button>
    </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>