<div class="container-sm mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <label class="fs-2 fw-bold text-left bold">
            Usuarios de Unitable
        </label>
    </div>

    <div class="grid">
        <div *ngFor="let usuario of usuarios" class="my-4 px-3">
            <mat-card hideToggle class="bg-light">
                <mat-card-title>
                    <mat-panel-title class="text-left fw-bold fs-5">
                        <p>{{usuario.nombres}} {{usuario.apellidos}}</p>
                    </mat-panel-title>
                </mat-card-title>
                <p>Correo: {{usuario.correo}}</p>
                <p>Número de monedas: {{usuario.numMonedas}}</p>
                <p *ngIf="!usuario.tipo; else coach">Tipo de Usuario: Estudiante</p>
                <ng-template #coach>
                    <p>Tipo de Usuario: Coach</p>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>