mat-expansion-panel{
    margin: 10px;
}

.bold{
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.margin{
    margin: 10px;
}

.inputFiltro{
    width: 70%;
}

.inputCuadros{
    width: 30%;
}

.inputFechas{
    width: 25%;
}

.boton{
    width: 10%;
}

.area_botones{
    width: 10% !important;
}

.area_fechas{
    width: 2% !important;
}