<div class="container-sm mt-5">
    <button class="margin" mat-raised-button color="primary" mat-button routerLink='/admin/grupos/nuevo'>
        Nuevo Grupo
    </button>
    <mat-divider></mat-divider>
    <div class="d-flex align-items-center">
        <label class="me-auto fs-2 fw-bold text-left bold">
            Lista de Grupos
        </label>
        <p class="fs-5">Buscar Grupo:</p>
        <mat-form-field appearance="fill" class="d-block ms-3 w-25 p-3">
            <mat-label>Filtro</mat-label>
            <input matInput type="text" placeholder="Filtro" name="filtro" [(ngModel)]="grupoStrF" #filtro="ngModel" (ngModelChange)="filterGrupos(grupoStrF)"/>
        </mat-form-field>
    </div>

    <div class="grid">
        <div *ngFor="let grupo of gruposF">
            <mat-card hideToggle class="bg-light my-3 mx-3">
                <mat-card-title>
                    <mat-panel-title class="text-left fw-bold fs-5">
                        <p>{{grupo.nombre}}</p>
                    </mat-panel-title>
                    <mat-panel-description class="text-left fw-bold fs-5">
                        <p>{{grupo.fechaCreacion | date:'yyyy-MM-dd'}}</p>
                    </mat-panel-description>
                </mat-card-title>
                <p>{{grupo.descripcion}}</p>
                <mat-card-actions>                
                    <button mat-button color="primary" [routerLink]="[grupo.id, 'chat']">
                        <mat-icon>send</mat-icon> Chat
                    </button>
                    <button mat-raised-button mat-button color="warn" (click)="deleteGrupo(grupo.id)">
                        <mat-icon>delete_forever</mat-icon> Eliminar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div *ngIf = "(grupos | json) == '[]'">
        <label class="text-left" style="margin: 20px;">
            No estas en ningún grupo, unete a uno o crea uno.
        </label>
    </div>

    <mat-divider></mat-divider>
    <div class="d-flex align-items-center">
        <label class="me-auto fs-2 fw-bold text-left bold">
            Grupos recomendados
        </label>
        <p class="fs-5">Buscar Grupo:</p>
        <mat-form-field appearance="fill" class="d-block ms-3 w-25 p-3">
            <mat-label>Filtro</mat-label>
            <input matInput type="text" placeholder="Filtro" name="filtro" [(ngModel)]="grupoRecStrF" #filtro="ngModel" (ngModelChange)="filterGruposRec(grupoRecStrF)"/>
        </mat-form-field>
    </div>

    <div class="grid">
        <div *ngFor="let grupo of gruposRecF">
            <mat-card hideToggle class="bg- my-3 mx-3">
                <mat-card-title>
                    <mat-panel-title class="text-left fw-bold fs-5">
                        <p>{{grupo.nombre}}</p>
                    </mat-panel-title>
                    <mat-panel-description class="text-left fw-bold fs-5">
                        <p>{{grupo.fechaCreacion | date:'yyyy-MM-dd'}}</p>
                    </mat-panel-description>
                </mat-card-title>
                <p>{{grupo.descripcion}}</p>
                <mat-card-actions>
                    <button mat-raised-button mat-button color="primary" (click)="joinGrupo(grupo.id)">
                        <mat-icon>add_box</mat-icon> Unirse
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div *ngIf = "(gruposRec | json) == '[]'">
        <label class="text-left" style="margin: 20px;">
            No hay grupos para recomendar
        </label>
    </div>

</div>